<h1>These are all of the ratings of individuals for HR to see.</h1>
<% @posts.each do |post| %>
  <h4> Ratee: <a href="/posts/<%= post.id %>"> <%= post.title %> </h4>
  <h4> Tact rating: <%= post.tact_rating %> </h4>
  <h4> HR person who posted: <%= post.user.email if post.user != nil %> </h4>
  <br>
<% end %>
<br>
<p>Average tact rating: <%= Post.avg_tact_rating %></p>
