<h1>These are all of the ratings of individuals for HR to see.</h1>
<% @posts.each do |post| %>
  <%# <h4> Date created: <%= post.created_at </h4> %>
  <h4> Ratee: <a href="/posts/<%= post.id %>"> <%= post.title %> </h4>
  <h4> Tact rating: <%= post.tact_rating %> </h4>
  <%# <%= @total += post.tact_rating %>  
  <br>
<% end %>
<br>
<%# <h4> Total is <%= @total %>
