<div class="container">
  <header><center><img src="images/culmae.png" alt="Culmae logo" width="150" height="150" class="img-responsive main-image"></header>
  <div class="col-md-18 col-md-offset-1">
  <p><small>Powered by:</small></p>
    <h1><img src="images/operacy-loop.png" alt="Operacy Loop logo" width="45" height="45"/> Culture Matching Software</h1>
      <p>This site is where we match people to teams and teams to people. </p> 


<p>Sign up</p>
<p>Login</p>

    <%# No other software in the world does that. We do. Get used to it.  %>  
    <!-- Insert Your Form Below -->
<%#     
<form method="POST" action="/people">
  <p>Name of Person: <input type="text" name="name"></p>
  <p></p>
  <p align="center">Please rate the following from 0 to 10 -- 0 being worst and 10 being best -- in the following areas.</p>
  <p align="center">If you don't have enough personal experience with the other person in this area, write 'NA', 'don't know' or leave blank.</p>
  <table>
  <tr>
    <td>Timeliness:</td>
    <td><input type="text" name="favorite_food"></td>
  </tr>
  <tr>
    <td>Self-reliance:</td>
    <td><input type="text" name="trait02"></td>
  </tr>
  <tr>
    <td>Reliability:</td>
    <td><input type="text" name="trait03"></td>
  </tr>
  <tr>
    <td>Courage:</td>
    <td><input type="text" name="trait04"></td>
  </tr>
  <tr>
    <td>Honesty:</td>
    <td><input type="text" name="trait05"></td>
  </tr>
  <tr>
    <td>Tact:</td>
    <td><input type="text" name="trait06"></td>
  </tr>
  <tr>
    <td>Work Ethic:</td>
    <td><input type="text" name="trait07"></td>
  </tr>
  <tr>
    <td>Charm:</td>
    <td><input type="text" name="trait08"></td>
  </tr>
  <tr>
    <td>Sense of humor:</td>
    <td><input type="text" name="trait09"></td>
  </tr>
  <tr>
    <td>Fun to be around: &nbsp &nbsp &nbsp </td>
    <td><input type="text" name="trait10"></td>
  </tr>
  <tr>
    <td>Trustworthy:</td>
    <td><input type="text" name="trait11"></td>
  </tr>
  <tr>
    <td>Self-confidence:</td>
    <td><input type="text" name="trait12"></td>
  </tr>
</table>

<table>
   <tr>
    <td>Ability to work 'Smarter-not-harder':</td>
    <td><input type="text" name="trait13"></td>
  </tr>
    <tr>
    <td>Willingness to help others:</td>
    <td><input type="text" name="trait14"></td>
  </tr>
  <tr>
    <td>Gets along with others:</td>
    <td><input type="text" name="trait15"></td>
  </tr>
  <tr>
    <td>Considerate of others:</td>
    <td><input type="text" name="trait16"></td>
  </tr>
    <tr>
    <td>Ability to confront appropriately:</td>
    <td><input type="text" name="trait17"></td>
  </tr>
  <tr>
    <td>Acceptance of others dispite their differences:</td>
    <td><input type="text" name="trait18"></td>
  </tr>
  <tr>
    <td>Willingness to take responsibility for own actions: &nbsp &nbsp &nbsp </td>
    <td><input type="text" name="trait19"></td>
  </tr>
  <tr>
    <td>Self-understanding: </td>
    <td><input type="text" name="trait20"></td>
  </tr>
  <tr>
    <td>Willingness to improve themselves: </td>
    <td><input type="text" name="trait21"></td>
  </tr>
  
</table>
  <p></p>
  <p> &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp <input type="submit" value="SUBMIT" style="height: 50px; width: 150px; left: 250; top: 250; border: 1px solid"> </p>

<p> Here are the cultures <%=@posts%></p>

<%# </form>  %>
 <!-- End of Form Above -->

    <div class="sidebar">
      <h3>Environment</h3>
      <ul>
        <li><b>Ruby:</b> <%= RUBY_VERSION %></li>
        <li><b>Environment:</b> <%= ENV["RACK_ENV"] %></li>
        <li><b>Server:</b> <%= @env["SERVER_SOFTWARE"] %></li>
        <li><b>Port:</b> <%= @env["SERVER_PORT"] %></li>
      </ul>
    </div>

  </div>
</div>
